body {
  background: #f3f3f3;
}


.desc {
  width: 100%;
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: left;
  
}



#register-form {
  background-color: #ffffff;
  width: 100%;
  min-width: 300px;

}

.tab {
  display: none;
}

.tab input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.tab input:active,
.tab input:focus {
  outline: none;
  border-color: rgb(207, 207, 207);
}


input.invalid {
  background-color: #ffdddd;
}

.step {
  height: 10px;
  width: 10px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: rgb(126, 126, 126);
}


.container {
  width: 100%;
  margin: 1.5rem;
  border-radius: 8px;
}

#tables {
  background-color: #fff;
  color: #333;
}

table.dataTable thead {
  background-color: var(--bs-secondary);
  color: rgb(255, 255, 255);
  font-size: .9rem;
  padding: 2px;

}

table.dataTable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

table.dataTable tbody tr:hover {
  background-color: #dee2e6;
}

.dataTables_wrapper .dataTables_filter input {
  border-radius: 4px;
  border: 1px solid #ced4da;
}

label {
  font-size: 1rem;
}

/* .dashboard{
  width: 100%;
  height: 100vh;
  margin-right: 10rem;
} */


#sidebar {
        background-color: #fff;
        color: #000;
        min-height: 100vh;
        width: 250px;
        transition: all 1s ease-in-out;
    }

    .sidebar-list a {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        color: #010101;
        text-decoration: none;
        font-weight: 400;
        transition: all 0.5s ease-in-out;
        background-color: #fff;
    }

    .sidebar-list a:hover,
    #sidebarToggleLeft {
        background-color: var(--bs-secondary);
        color: #fff;
    }

    .sidebar-list a.active {
        color: #fff;
    }

    .sidebar-list {
        background-color: #fff;
        font-size: .9rem;
    }

    .sidebar-list .icon-field {
        margin-right: 10px;
        font-size: 1.2rem;
    }

    .collapse a {
        padding-left: 15px;
        background-color: #f8f9fa;
    }

    #sidebar::-webkit-scrollbar {
        width: 6px;
    }

    .sidebar-list a.active {
        background-color: var(--bs-secondary);
        font-weight: bold;
        color: #ffffff !important;
    }